<html>
  <title>Login</title>
  <body>
    <h1>Login</h1>
    <form action="/login" method="POST">
      <label>
        User ID
        <input type="text" name="user_id" />
      </label>
      <input type="submit" value="Login" />
    </form>

    <small
      >This is only used in local development. Production uses a hosted Auth0
      form.</small
    >
  </body>
</html>
